.input {
border: 2px solid rgb(3, 12, 22);
border-radius: 10px;
width: 340px;
padding-bottom: 10px;
margin-bottom: 10px;
margin-left: 10px;
color: rgb(3, 12, 22);
padding-top: 10px;
}
.text{
    text-align: center;
    padding-bottom: 5px;
}