.wrapper {
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: rgb(21, 21, 101);
    text-align: center;
    align-content: center;
    font-weight: bold;
}